<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


</style>

<div id="<%= dom_id friend %>">

<div class="container">
<table>
  <tr>
    <th>Nome:</th>
    <td><%= friend.first_name %></td>
  </tr>

  <tr>
    <th>Sobrenome:</th>
    <td><%= friend.last_name %></td>
  </tr>

  <tr>
    <th>Email:</th>
    <td><%= friend.email %></td>
  </tr>

  <tr>
    <th>Telefone:</th>
    <td><%= friend.phone %></td>
  </tr>

  <tr>
    <th>Twitter:</th>
    <td><%= friend.twitter %></td>
  </tr>

  <tr>
    <th>Instagram:</th>
    <td>@<%= friend.instagram %></td>
  </tr>

  <tr>
    <th>Linkedin:</th>
    <td> <a href="<%= friend.linkedin %>"</a>Acessar</td>
  </tr>
</table>

</div>

</div>
