<!DOCTYPE html>
<html>
  <head>
    <title>FriendListRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    </head>

    <body>

    <style>
      body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid red;
      }
    </style>


    <%= render 'home/header' %>

    <%= yield %>

    <%= render 'home/footer' %>

    </body>

</html>
